@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>João Henrique Loriato @ViewData["João Henrique Lorato"]</p>

<adress>
    <strong>More information: </strong> <a href="https://linkedin.com/in/joaoloriato">Linkedin</a>
</adress>
